html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transition: all 400ms linear;
  position: absolute;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

figure:first-child {
  transform: rotate(-12deg);
  top: 100px;
  left: 20%;
  z-index: 3;
}

figure:nth-child(2){
  transform:rotate(30deg);
  top:150px;
  left:30%;
  z-index:3;
}

figure:last-child {
  transform: rotate(33deg);
  top: 100px;
  left: 40%;
  z-index: 2;
}

.polaroid:hover {
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 1);
  transform: rotate(0deg);
  z-index: 100;

}
